.Body{
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    background-color: white;
    font-family:'Lucida Sans';
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 15%;

}

.Texto{
    color: black;
    text-align: center;
}
